<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2012 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间 -->
<mapper namespace="com.example.sports.dao.CollegeMapper">


  <!--<resultMap type="com.example.sports.bean.College" id="CollegeResult">-->
    <!--<id column="id" jdbcType="INTEGER" property="id"/>-->
    <!--<result column="name" jdbcType="VARCHAR" property="name"/>-->
  <!--</resultMap>-->

 <select id="queryCollegeList" resultType="com.example.sports.bean.College">
    select id, name from college order by id
 </select>
    <select id="queryCollegeTotalList" resultType="com.example.sports.bean.CollegeTotal">
        select * from college_total order by total
    </select>
    <select id="queryCollegeTotalByCollegeId" resultType="com.example.sports.bean.CollegeTotal">
        select * from college_total where college_id=#{collegeId}
    </select>
    <update id="updateTotalByCollegeId" parameterType="com.example.sports.bean.CollegeTotal">
        update college_total
        <set>
            <if test="total != null">total=#{total},</if>
        </set>
        where college_id = #{collegeId}
    </update>
 <!--
<delete id="deleteOne" parameterType="int">
 delete from book where id = #{_parameter}
</delete>
<delete id="deleteBatch" parameterType="java.util.List">
 delete from book where id in(
  <foreach collection="list" item="item" separator=",">
   #{item}
  </foreach>
 )
</delete>
-->
</mapper>
